<wrap>
  {% for block in section.blocks -%}
    <div
      class="title">
      <i>{{ block.settings.question }}</i>
    </div>
    <br>
    <div
      class="content">
      {{ block.settings.answer | replace: '<em', '|em' | replace: '</em>', '|/em|' | replace: '<a', '|a' | replace: '</a>', '|/a|' | replace: '</p>', '|br' | strip_html | replace: '|br', '<br>' | replace: '|a', '<a' | replace: '|/a|', '</a>' | replace: '|em', '<em' | replace: '|/em|', '</em>' }}
    </div>
  {%- endfor %}
</wrap>

{% schema %}
  {
    "class": "page-content",
    "blocks": [
      {
        "type": "content",
        "name": "Questions",
        "settings": [
          {
            "type": "richtext",
            "id": "question",
            "label": "Question"
          }, {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %}
