<div class="faq-container">
  {% for block in section.blocks -%}
    <div class="faq-question">
      <div
        class="faq-question">
        <i>{{ block.settings.question }}</i>
      </div>
      <br>
      <div
        class="faq-answer">
        {{ block.settings.answer }}
      </div>
    </div>
  {%- endfor %}
</div>

{% schema %}
  {
    "class": "page-content",
    "blocks": [
      {
        "type": "content",
        "name": "Questions",
        "settings": [
          {
            "type": "richtext",
            "id": "question",
            "label": "Question"
          }, {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          }
        ]
      }
    ]
  }
{% endschema %}
