<div class="text-banner__content">
  {{ section.settings.text }}
</div>


{% schema %}
  {
    "class": "text-banner",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      }
    ]
  }
{% endschema %}