<!--Header-->
<header>
  {% include 'menu' %}
</header>
<!--Type Catalogue-->
{% section 'type-catalogue' %}

<!-- Cart Button -->
<!-- <a href="/cart" id="cart-button">Cart ({{ cart.item_count }})</a> -->