<main>
  <!-- Header -->
  <header>
    {% include 'menu' %}
    <!-- Project List -->
    <ul></ul>
    <!-- Contact -->
    <p
      class="contact-links"
    >
      {% for link in linklists.footer.links -%}
        <a
          href="{{ link.url }}"
          target="_blank"
          rel="noreferrer"
        >
          {{ link.title }}
        </a>
      {%- endfor %}
    </p>
  </header>
  <!-- Projects -->
  <div
    id="projects"
  >
    {{ content_for_index }}
  </div>
</main>
