<!--Header-->
<header>
  {% include 'menu' %}
  <!--Contact-->
  <p
    class="contact-links"
  >
    {% for link in linklists.footer.links -%}
      <a
        href="{{ link.url }}"
        target="_blank"
        rel="noreferrer">
        {{ link.title }}
      </a><br>
    {%- endfor %}
  </p>
</header>
<!--Content-->
<div
  id="content">
  {% if page.handle == 'trials-students' -%}
    {% section 'page-trials' %}
  {%- elsif page.handle == 'custom' -%}
    {% section 'page-custom' %}
  {%- elsif page.handle == 'licenses' -%}
    {% section 'page-licensing' %}
  {%- elsif page.handle == 'terms' -%}
    {% section 'page-terms' %}
  {%- else -%}
    <wrap>
      {{ page.content | replace: '<a', '|a' | replace: '</a>', '|/a|' | replace: '</p>', '|br' | strip_html | replace: '|br', '<br>' | replace: '|a', '<a' | replace: '|/a|', '</a>' }}
    </wrap>
  {%- endif %}
</div>
