<!--Header-->
<header>
  {% include 'menu' %}
</header>
<!--Social media-->
<div
  id="social">
  {% for link in linklists.footer.links -%}
    <a
      href="{{ link.url }}"
      target="_blank"
      rel="noreferrer">{{ link.title }}</a>
  {%- endfor %}
</div>
<!--Content-->
<div
  id="content">
  {% section 'page-about' %}
</div>
