<main>
  <!-- Header -->
  <header>
    {% include 'menu' %}
    <!-- Project List -->
    <ul></ul>
    <!-- Contact -->
    <p
      class="contact-links"
    >
      <a href="https://www.instagram.com/margot.leveque">Instagram</a>
      <a href="https://twitter.com/margotlvq">Twitter</a>
      <a href="https://www.linkedin.com/in/margot-leveque/">Linkedin</a>
      <a href="https://www.tiktok.com/@margot.leveque">TikTok</a>
      <a href="https://www.behance.net/margotleveque">Behance</a>
    </p>
  </header>
  <!-- Projects -->
  <div
    id="projects"
  >
    {{ content_for_index }}
  </div>
</main>
